---
import { Image } from 'astro:assets';
import Layout from '@/layouts/Layout.astro';

import koalaBg from '@/assets/images/koala_bg_web.webp';
---

<Layout title="Koalie">
	<main class="relative">
		<Image
			src={koalaBg}
			alt="Koala Backdrop"
			class="absolute left-0 top-0 h-screen w-screen object-cover"
		/>
	</main>
</Layout>
