---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Koalie">
	<main class="main-bg">
		<div class="z-50 w-full pt-10 text-center">
			<h1 class="font-header text-9xl font-bold text-white/90">Koalie</h1>
		</div>
	</main>
</Layout>
