---
import Layout from '@/layouts/Layout.astro';
---

<Layout title="Simple Barebones Astro + Tailwind Starter Template">
	<main class="relative flex w-full justify-center pt-10 text-center">
		<h3 class="">Bare Bones Astro + Tailwind Starter</h3>
	</main>
</Layout>
